body {
    margin: 0; 
    font-size: 2vh;
}
.wrapper {
    display: flex;
    align-items: flex-start;
    /* border: 5px solid salmon; */
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dashboard {
    display: grid;
    width: 15vw;
    align-self: stretch;
    color: white;
    font-size: 3vh;
    grid-template-columns: 1fr;
    background-color: royalblue;
    /* border: 5px solid green; */
    padding-left: 2vh;
    gap: 4vh;
}
.group {
    display: flex;
    flex-direction: column;
}

.blank {
    height: 35vh;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    padding: 2vh;
    gap: 2vh;
    /* border: 5px solid brown; */
}

.search {
    background-color: rgb(143, 169, 209);
    opacity: 0.5;
    border-radius: 5vh;
}

span {
    font-size: 2vh;
    font-weight: bold;
    padding-left: 1vw;
}

h2 {
    margin: 0;
}

.buttons {
    justify-self: stretch;
    display: flex;
    align-items: center;
    gap: 2vw;
}

button {
    color: white;
    background-color: royalblue;
    border-radius: 5vh;
    font-size: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1vw;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 25vw);
    grid-auto-rows: 23vh;
    gap: 3vh;
    padding: 1vh;
}

.box {
    font-weight: bold;
    border-left: 5px solid goldenrod;
    border-radius: 5px;
    background-color: aliceblue;
    padding-top: 2vh;
    padding-left: 1vw;
}

.sidebar {
    display: grid;
    grid-template-rows: auto auto;
}

.miniTitle {
    font-weight: bold;
    border-left: 5px solid purple;
    border-radius: 5px;
    background-color: aliceblue;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
}

.title {
    font-size: 3vh;
    font-weight: bold;
    padding-left: 1vw;
}

.description,
.message {
    color: gray;
    padding-right: 1vh;
    margin: 0;
}

.userName {
    font-weight: bold;
    border-left: 5px solid purple;
    border-radius: 5px;
    background-color: aliceblue;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
}

.userName p {
    color: gray;
    margin: 0;
}

.item {
    display: flex;
    align-items: center;
    gap: 2vh;
}

.item img {
    width: 4vh;
    filter: brightness(0) invert(1);
}

/* .dashboard > div {
    border: 1px solid;
} */